body {
  background: #2c0000;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 80px;
}

.container {
  max-width: 450px;
  margin: auto;
}

h1 {
  color: #ff4747;
  font-size: 32px;
}

.warning-box {
  margin-top: 20px;
  background: rgba(255, 30, 30, 0.2);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ff5555;
}

.safe-btn, .danger-btn {
  padding: 12px 15px;
  margin-top: 20px;
  width: 90%;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.safe-btn {
  background: #008cff;
}

.danger-btn {
  background: #ff3b3b;
  margin-top: 10px;
}
